.bio {
    
    background-color: white;
    border-radius: 10px;

    &__heading {
        font-size: 6rem;

        &--renovation {
            font-size: 5rem;
            background-color: white;
            padding: 4rem;
            text-transform: uppercase;
            position: absolute;
            border-radius: 1rem;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-10deg);
        }
    }

    &__description {
        font-size: 2rem;
        padding: 4rem;
    }

    &__img {
        position: relative;
        & img {
            position: absolute;
            top: 6rem;
            right: 1rem;
            width: 80%;
            object-fit: contain;
        }
    }
}